services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_SITE_NAME: PDFFlow
      NEXT_PUBLIC_SITE_URL: http://localhost:3000
      MAX_FILES: 20
      MAX_FILE_MB: 100
      MAX_PAGES: 500
      MAX_TOTAL_MB: 300
      REQUEST_TIMEOUT_SEC: 120
      MAX_HTML_FETCH_MB: 15
      TMP_DIR: data/tmp
      TMP_TTL_MINUTES: 20
      ENABLE_OCR: 1
